@font-face {
    font-family: "roboto light";
    src: url("font/Roboto/Roboto-Light.ttf");
}

body {
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
    font-family: roboto light;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    color: #f9faf8;
    padding: 20px;
}

.logo {
    
}

a {
    color: white;
    text-decoration: none;
    font-family: #e5e7eb;

}

.nav {
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

.section1{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #f9faf8; 
    display: flex;
}

.section1 h1 {
    font-size: 48px;
    font-weight: 800;
}


.modal {
    height: auto;
    width: 450px;    
}

.top_button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 8px;
    font-family: roboto light;
    font-weight: 800;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}



.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(219, 202, 202);
    flex:1
}

.info{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 52px;
    margin-left: 300px;
    margin-right: 300px;
}

.container img{
    width: 150px;
    height: 150px;
    border-radius: 10%;

    
    
}
.section3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: red;
    flex: 1;

}

.section4{
    border:solid
}

 {
    border: 1px solid;
}


